{{#with dynamics.product_id.entry}}
{{set_title value.name}}
<h2>{{value.name}} <small><a href="/products/{{key}}/edit">edit</a></small></h2>

<p>{{value.description}}</p>
{{/with}}

<a href="/">Back to list</a>
